:root{
    /*colours*/
    /*primary colours*/
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /*Neutral*/
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --just-white: #ffffff;

    /*font*/
    --red-hat-display: 'Red Hat Display', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-family: var(--red-hat-display)
}

button{
    border: none;
    background: none;
    width: 100%;
    font-family: var(--red-hat-display);
    font-weight: 700;
    cursor: pointer;
    padding: 12px 24px;
    margin: 5px 0;
}


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/pattern-background-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Pale-blue);
}

.order-card{
    width: 320px;
    background-color: var(--just-white);
    border-radius: 20px;
}

.order-card__img{
    background-image: url(./images/illustration-hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0 0;
}

.order-card__info{
    padding: 15px 20px;
    text-align: center;
}

.info__tittle{
    font-weight: 900;
    color: var(--Dark-blue);
    margin-top: 15px;
}

.info__paragraph{
    margin: 20px 0;
    color: var(--Desaturated-blue);
    line-height: 1.6rem;
}

.info__summary{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    margin: 20px 0;
}

.summary__detail{
    text-align: left;
}

.summary__detail h2{
    color: var(--Dark-blue);
    font-weight: 900px;
    font-size: 1rem;
}

.summary__detail span{
    color: var(--Desaturated-blue);
}

.summary__change{
    color: var(--Bright-blue);
    font-weight: 700px;
}

.primary-button{
    background: var(--Bright-blue);
    border-radius: 10px;
    color: var(--just-white);
}

.primary-button:hover{
    transform: translate(-1px, -1px);
}

.primary-button:active{
    transform: translate(1px, 1px);
}

.secondary-button{
    color: var(--Desaturated-blue);
    font-weight: 800;
}

.secondary-button:hover{
    text-decoration: underline;
}

.shadow{
    box-shadow: 0px 15px 8px 2px hsl(225, 100%, 94%);
    -webkit-box-shadow: 0px 15px 8px 2px hsl(225, 100%, 94%);
    -moz-box-shadow: 0px 15px 8px 2px hsl(225, 100%, 94%);
    transition: all 250ms ease;
}


@media only screen and (min-width: 1140px){

    .main-container{
        background-image: url(./images/pattern-background-desktop.svg);
        background-position: top;
        background-size: contain;
    }

    .order-card{
        width: 420px;
        background-color: var(--just-white);
        border-radius: 20px;
    }

    .order-card__info{
        padding: 15px 40px;
        text-align: center;
    }

}